{% extends 'base.html' %} {% block title %} Sun Shop Home Page {% endblock %}
{% block content %}

    <h1>Welcome, {{ user.first_name|default:user.username }}</h1>
    <p>This is the home page</p>
    <br>
    <h2>Here are the instructions</h2>
    <p>1. To request a purchase, click on the "Request a Purchase" link in the navigation bar</p>
    <p>2. To view all purchase requests, click on the "All Purchases" link in the navigation bar</p>
    <p>3. To update a purchase request, click on the "Update Request" link in the navigation bar</p>
    <p>4. To delete a purchase request, click on the "Delete Request" link in the navigation bar. NOTE: Only admin can delete a purchase request</p>
    <p>5. To view a purchase request, click on the "View Request" link in the navigation bar</p>
    <p>6. To add a received purchase, click on the "Add Received" link in the navigation bar</p>
    <p>7. To view all received purchases, click on the "All Received" link in the navigation bar</p>
    <p>8. To update a received purchase, click on the "Update Received" link in the navigation bar</p>
    <p>9. To delete a received purchase, click on the "Delete Received" link in the navigation bar</p>
    <p>10. To view a received purchase, click on the "View Received" link in the navigation bar</p>
    <!-- <p>11. To view all users, click on the "All Users" link in the navigation bar</p>
    <p>12. To view all groups, click on the "All Groups" link in the navigation bar</p>
    <p>13. To view all permissions, click on the "All Permissions" link in the navigation bar</p>
    <p>14. To view all logs, click on the "All Logs" link in the navigation bar</p>
    <p>15. To view all requests, click on the "All Requests" link in the navigation bar</p>
    <p>16. To view all received, click on the "All Received" link in the navigation bar</p>
    <p>17. To view all orders, click on the "All Orders" link in the navigation bar</p>
    <p>18. To view all items, click on the "All Items" link in the navigation bar</p>
    <p>19. To view all vendors, click on the "All Vendors" link in the navigation bar</p>
    <p>20. To view all projects, click on the "All Projects" link in the navigation bar</p>
    <p>21. To view all categories, click on the "All Categories" link in the navigation bar</p>
    <p>22. To view all subcategories, click on the "All Subcategories" link in the navigation bar</p>
    <p>23. To view all item types, click on the "All Item Types" link in the navigation bar</p>
    <p>24. To view all work tags, click on the "All Work Tags" link in the navigation bar</p>
    <p>25. To view all purchase orders, click on the "All Purchase Orders" link in the navigation bar</p>
    <p>26. To view all order items, click on the "All Order Items" link in the navigation bar</p>
    <p>27. To view all order statuses, click on the "All Order Statuses" link in the navigation bar</p>
    <p>28. To view all order types, click on the "All Order Types" link in the navigation bar</p>
    <p>29. To view all order items statuses, click on the "All Order Items Statuses" link in the navigation bar</p>
    <p>30. To view all order items types, click on the "All Order Items Types" link in the navigation bar</p>
    <p>31. To view all order items statuses, click on the "All Order Items Statuses" link in the navigation bar</p>
    <p>32. To view all order items types, click on the "All Order Items Types" link in the navigation bar</p>
    <p>33. To view all order items statuses, click on the "All Order Items Statuses" link in the navigation bar</p>
    <p>34. To view all order items types, click on the "All Order Items Types" link in the navigation bar</p>
    <p>35. To view all order items statuses, click on the "All Order Items Statuses" link in the navigation bar</p>
    <p>36. To view all order items types, click on the "All Order Items Types" link in the navigation bar</p>
    <p>37. To view all order items statuses, click on the "All Order Items Statuses" link in the navigation bar</p>
    <p>38. To view all order items types, click on the "All Order Items Types" link in the navigation bar</p>  -->
{% endblock %}