{% extends 'base.html' %} {% block title %} Sun Shop Home Page {% endblock %}
{% block content %}

<!-- <h1>Purchas Record</h1> -->
<div class="card">
    <h5 class="card-header">{{ request_records.id }}  ,  {{ request_records.date_requested }}</h5>
    <div class="card-body">
      <p class="card-text">
        <strong>Requested by </strong>  {{ request_records.requested_by }} <br>
        <strong>Project </strong>  {{ request_records.project }} <br>
        <strong>Item name </strong>  {{ request_records.item_name }} <br>
        <strong>Vendor </strong>  {{ request_records.vendor }} <br>
        <strong>Quantity </strong>  {{ request_records.quantity }} <br>
        <strong>Price </strong>  ${{ request_records.price }} <br>
        <strong>Link </strong>  {{ request_records.purchase_link }} <br>
        <strong>Notes </strong>  {{ request_records.notes }} <br>

      </p>
    </div>

</div>
<br><br>
<a href="{% url 'all_purchase' %}" class="btn btn-primary">Back</a>
<a href="{% url 'update_request' request_records.id %}" class="btn btn-secondary">Update</a>
<!-- <a href="{% url 'order_request' request_records.id %}" class="btn btn-secondary">Order</a> -->
{% if user.is_staff %}
<a href="{% url 'delete_request' request_records.id  %}" class="btn btn-danger">Delete</a>
{% endif %}

<!-- {{ request_record}} -->

{% endblock %}

<br><br><br><br><br>